<!DOCTYPE html>
<html>
    <head>
        <title>SR1</title>
        <meta charset="utf-8" >
        <meta name="author" content="SR1" >
        <link rel="stylesheet" type="text/css" media="screen, projection" href="../css/style.css" />
    <head>
    <body>
        <header>
            <figure class="logo">
                <a href="/"></a>
            </figure>
            <hgroup>
                <h1><a href="/">SR1</a></h1>
                <h2>so you are the one</h2>
                <nav>
                </nav>
            </hgroup>
            <nav>
                <ul id="navigation">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/archives">Archives</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <form action="http://google.com/search" method="get">
                <fieldset>
                    <input type="hidden" name="q" value="site:sr1.me" />
                    <input class="search" type="text" name="q" results="0" placeholder="Search" />
                </fieldset>
            </form>
        </header>
        <div id="main">
            <div id="content">
                <div id="blog-index">
                    <article>
                        <header>
                            <h1 class="entry-title">
                                <a href="/2013/09/26/google-maps-android-psd-v2/">Google Maps Android PSD V2</a>
                            </h1>
                            <p class="meta">
                                <time datetime="2013-09-26T14:21:00+02:00" pubdate data-updated="true">Sep 26<span>th</span>, 2013</time>
                            </p>
                        </header>
                        <div class="entry-content">
                        </div>
                        <footer>
                            <a rel="full-article" href="/2013/09/26/google-maps-android-psd-v2/">Continue reading &#8230;</a>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
        <footer>
            
        </footer>
    </body>
</html>