<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | SR1</title>
    <meta charset="utf8">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header>
      <figure class="logo">
        <a href="/"></a>
      </figure>
      <hgroup>
        <h1>SR1</h1>
        <h2>在温室里想象南极，<br/>谁都可以做得到。</h2>
      </hgroup>
    </header>
    <div id="main">
      <div id="content">
        <article>
          <header>
            <h1 class="entry-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
            <p class="meta">
              <time>{{ page.date | date_to_string }}</time>
            </p>
            </header>
            <div class="entry-content">
              {{ content }}
            </div>
          </article>
        <div class="archives-link">
          <h2><a href="/">全部列表 →</a></h2>
        </div>
      </div>
    </div>
  </body>


</html>

